@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* common style */
h1{
    /* .inspiration-title */
    margin: 0 auto;
    font-weight: 800;
    line-height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
}

/* header section style start here */
.header-container{
width: 1440px;
height: 652px; 
margin: 0 auto;
background-image: url(/assets/Hero-bg.png);
}
.header-content{
    width: 998px;
height: 582px;
margin: 0 auto;
margin-top: 26px;
    margin-bottom: 46px;
    
}
.header-content img{
    width: 240.28px;
height: 240px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.header-content-desc{
    width: 998px;
height: 310px;
margin-top: 24px;
}
.header-content-desc h3{
margin: 0 auto;
    width: 998px;
height: 136px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
text-align: center;
}

.header-content-desc p{
    width: 852px;
    margin: 0 auto;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
position: relative;
}
.contuct-btn{
    width: 200px;
    height: 60px;
    border-radius: 8px;
background: rgb(13, 19, 33);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 559px;
left: 632px;
}




/* header section style end here */

/* main section start here */


/* development style section start here */

.development{
    width: 1140px;
height: 1395px;
margin: 0 auto;
padding: 80px 97px 80px 97px; 
}
.development-container{
    width: 100%;
    height: 100%;
margin: 0 auto;
}
.dev-title-container{
    width: 852px;
height: 115px;
margin: 0 auto;
}

.dev-container{
    padding: 47px;
}
.dev-content{
    width: 100%;
height: 336px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
}
.dev-content-2{
    width: 100%;
height: 336px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 0px;
}
.dev-content-text{
    width: 477px;
height: 220px;
}

.dev-content-text h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin: 0 auto;
}
.dev-content-text p{
    margin: 0 auto;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.dev-btn{
    width: 150px;
    border: 1px solid black;
    border-bottom-left-radius: 0px;
    opacity: 0.7;
height: 38px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
}

.dev-content-img{
    width: 259.56px;
height: 217.01px;
}
/* development section style ends here */





/* inspiration style starts here */

.inspirations{
    width: 1140px;
height: 775px;
margin: 0 auto;
}
.inspiration-title{
margin: 0 auto;
width: 852px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}


.inspirations .inspiration-video{
    width: 1074px;
height: 545px;
padding: 32px;
margin-top: 48px;

}
iframe{
    border-radius: 10px;
}

/* inspiration style ends here */

/* my target/ fourth layout starts here */

.target-container{
    width: 1140px;
height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 149px;

}
.target-title-container{
    margin: 0 auto;
    width: 946px;
height: 145px;
}
.card-boxes{
    width: 1140px;
height: 299px;
margin: 0 auto;
margin-top: 15px;
gap: 20px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}
.card-box{
    width: 364px;
height: 71%;
padding: 40px;
gap: 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
background: rgba(255, 76, 30, 0.05);


}

.card-box img{
    width: 56px;
height: 56px;
}
.card-box h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 0px;
}
.card-box p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
}


 /* my target/ fourth layout ends here */

/* main section end here */